*{
    font-family: Arial, Helvetica, sans-serif;
}
.products{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1px;
}
.products div{
    display: block;
    height: max-content;
    background-color: black;
    color: white;
    width: max-content;
    padding: 0 0 20px 0;
    text-align: center;
    border: 1px solid black;
}
.products img{
    width: 23vw;
    height: auto;
}

.products a{
    background-color: azure;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}
