* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
body{
    background-color: #333333;
    margin: 0;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* Style the active link (or home/logo) */
.active {
  background-color: red;
  color: white;
}