body{
    background-color: white; 
    margin: 0;
    overflow-x: hidden;
}
.title{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
    font-weight: bolder;
}
header{
    display: inline-flex;
    background-color: #fff;
    width: 100%;
    height: max-content;
    top: 0;
    position: fixed;
    z-index: 999;
    padding: 0;
    border-bottom: 4px solid #ff019d;
}
header nav{
    padding-left: 550px;
    padding-right: 20px;
}
header nav ul li{
    list-style: none;
    display: inline-flex;
    padding: 0;
}
header a{
    text-decoration: none;
    color: black;
    padding: 10px 0 0 30px;
    font-family: fantasy;
    font-size: 13px;
}
header a:hover{
    color: black;
    transform: scale(1.2);
}
.intro{
    background: url(images/pexels-pixabay-458766.jpg);
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro p{
    top: 200px;
    left: 290px;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: slideDown;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: none;
    animation-timing-function: ease-out;
    transition-property: all;
    opacity: 0;
}

@keyframes slideDown{
    0%{
        right: -50px;
    }
    75%{
        top: 310px;
        opacity: 0;
        transform: rotateY(180deg);
    }
    100%{
        top: 250px;
        transform: scale(1);
        opacity: 1;
    }
}
.intro #book{
    color: white;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    top: 280px;
    left: 250px;
    position: relative;
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes slideIn{
    0%{
        left: -50px;
        border-radius: 20px;
    }
    100%{
        left: 250px;
        opacity: 1;
        border-radius: 5px;
    }
}
.intro #book:hover{
    background-color: gainsboro;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.intro #book:active{
    background-color: gainsboro;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.modal{
    z-index: 5;
    top: 0;
    left: 0;
    position: fixed;
    background-color: transparent;
    opacity: 1;
    height: 100%;
    width: 100%;
    padding-top: 180px;
    display: none;
}
.modal-content{
    background-color: white;
    height: 70px;
    width: 500px;
    padding: 20px;
    position: relative;
    left: 500px;
    top: 160px;
    opacity: 1;
    /* padding-top: 30px; */
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-flex;
}
.modal-content a{
    border: 1px solid black;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    width: max-content;
    padding: 10px 30px 0px 30px;
    height: 30px;
    margin-left: 1px;
    display: inline-flex;
}
.modal-content span{
    float: right;
    cursor: pointer;
    color: black;
    font-size: 30px;
    padding: 0 0px 10px 10px;
}
.modal-content a:hover{
    background-color: #fff;
    color: black;
}
.products{
    background: white;
    width: 100%;
    height: max-content;
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.products div{
    transition-property: all;
    transition-duration: 1s;
    margin-bottom: 20px;
    position: relative;
}
.products div:nth-child(1):hover,
.products div:nth-child(2):hover,
.products div:nth-child(3):hover,
.products div:nth-child(4):hover{
    transform: translateY(-13px);
}

.earrings{
    border: 2px solid black;
    height: 380px;
    width: 311px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ccc;
}
.watches{
    border: 2px solid black;
    height: 380px;
    width: 311.75px;
    margin-right: 10px;
    background-color: #ccc;
}
.bracelets{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    background-color: #ccc;
}
.necklaces{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.products p{
    color: black;
    font-size: 18px;
    font-family: cursive;
    font-weight: lighter;
    padding-left: 70px;
}
.handbags{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.belts{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.sunglasses{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.scarfs{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;  
}
.tops{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.sandals{
    border: 2px solid black;
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.gif{
    float: right;
}
.products div:nth-child(5):hover,
.products div:nth-child(6):hover,
.products div:nth-child(7):hover,
.products div:nth-child(8):hover{
    transform: translateY(13px);
}
.products div:nth-child(9):hover,
.products div:nth-child(10):hover{
    transform: scale(1.03);
}
.about-us{
    width: 100%;
    height: max-content;
    background-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-us h1{
    margin-left: 36%;
    font-family: Arial, Helvetica, sans-serif;
}
.about-us p{
    margin-left: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.footer{
    /* display: inline-flex; */
    width: 100%;
    height: max-content;
    background-color: salmon;
    padding-top: 30px;
    margin-top: 30px;
}

.footer a{
    text-decoration: none;
    color: black;
    padding: 50px 0px 20px 10px;
    margin-left: 13.33%;
}
.footer span a{
    padding: 0;
    margin: 0;
    color: #ccc;
}
.footer span{
    margin-left: 23.33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}













/* RESPONSIVENESS */
@media (max-width: 320px){
    body{
        overflow-x: hidden;
        margin: 0;
    }
    header img{
        width: 50px;
        height: 50px;
        display: block;
    }
    header nav{
        padding-left: 0;
        padding-right: 5px;
    }
    header a{
        padding: 1px;
        font-size: 11px;
    }
    .intro{
        height: 400px;
        padding: 0;
        background-image: url(images/Pretty\(4\).gif);
        background-size: 100%;
    }
    .intro p{
        left: 20px;
        top: 10px;
        font-size: 4vw;
    }
    .intro #book{
        color: white;
        text-decoration: none;
        border: 2px solid black;
        background-color: black;
        height: 40px;
        width: 120px;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 15px;
        top: 280px;
        left: 50px;
        position: relative;
        animation: slide;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    .modal-content{
        width: 200px;
        left: 20px;
        top: 0;
        height: max-content;
        display: block;
        justify-content: space-between;
    }
    .modal-content a{
        margin-bottom: 20px;
        width: 100px;
    }

    @keyframes slide{
        0%{
            left: -50px;
        }
        100%{
            left: 50px;
        }
    }
    .products div{
        margin: 0;
        width: 100%;
    }
    .products{
        background: black;
    }    
    .footer a{
        padding: 0;
        margin: 3px;
        font-size: 3.5vw;
    }
    .footer span{
        font-size: 3vw;
        margin: 0;
    }
}